<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<div class="events-search-row">
  <%= form_tag search_events_path, :method => 'get' do %>
   <%= text_field_tag :event_name, nil, placeholder: 'Search by event name' %>
   <%= submit_tag "Search", :event_name => nil  %>
  <% end %>
</div>

<table class="events-index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td class="table-link"><%= link_to 'Show', event %></td>
        <td class="table-link"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class="table-link"><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
