<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @event.name %>
</div>

<div>
  <strong>Date:</strong>
  <%= @event.date %>
</div>

<div>
  <strong>Event summary:</strong>
  <%= @event.event_summary %>
</div>

<div>
  <strong>Comments:</strong>
  <%= @event.comments %>
</div>

<div>
  <strong>Volunteer hours:</strong>
  <%= @event.volunteer_hours %>
</div>

<div>
  <strong>Driving distance:</strong>
  <%= @event.driving_distance %>
</div>

<div>
  <strong>Start time:</strong>
  <% if @event.start_time %>
    <%= "#{@event.start_time.hour}:#{@event.start_time.min.to_s.rjust(2,'0')}" %>
  <% end %>
</div>

<div>
  <strong>End time:</strong>
  <% if @event.end_time %>
    <%= "#{@event.end_time.hour}:#{@event.end_time.min.to_s.rjust(2,'0')}" %>
  <% end %>
</div>

<div>
  <strong>Attendees:</strong>
  <% @attendees.each do |attendee| %>
    <p><%= link_to attendee.name, attendee %></p>
  <% end %>
</div>

<div>
  <strong>Drivers:</strong>
  <% @drivers.each do |driver| %>
    <p><%= link_to driver.name, driver %></p>
  <% end %>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
