<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Event summary:</strong>
  <%= @event.event_summary %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @event.comments %>
</p>

<p>
  <strong>Volunteer hours:</strong>
  <%= @event.volunteer_hours %>
</p>

<p>
  <strong>Driving distance:</strong>
  <%= @event.driving_distance %>
</p>

<p>
  <strong>Start time:</strong>
  <%= "#{@event.start_time.hour}:#{@event.start_time.min.to_s.rjust(2,'0')}" %>
</p>

<p>
  <strong>End time:</strong>
  <%= "#{@event.end_time.hour}:#{@event.end_time.min.to_s.rjust(2,'0')}" %>
</p>

<p>
  <strong>Attendees:</strong>
  <% @attendees.each do |attendee| %>
    <p><%= attendee.name %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
