<!DOCTYPE html>
<html>
<head>
  <title>UCSD TC Manager</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="hmenu">
    <a href="/">
      <div id="site-header">
        <%= image_tag "site-logo.jpeg", id: "site-logo" %>
        <span id="site-title">Club Manager</span>
      </div>
    </a>
    <div class="header-links">
      <%= render 'devise/menu/login_items' %>  
    </div>
  </ul>

<%= yield %>

</body>
</html>
