<p id="notice"><%= notice %></p>

<div>
  <strong>Name:</strong>
  <%= @member.name %>
</div>

<div>
  <strong>Volunteer hours:</strong>
  <%= @member.volunteer_hours %>
</div>

<div>
  <strong>Driver:</strong>
  <%= @member.driver %>
</div>

<div>
  <strong>Qualified for Uniform?</strong>
  <%= @member.qualifies_for_uniform? %>
</div>

<strong>Events Attended</strong>
<div class="attended-events">
  <% @member.attended_events.each do |event| %>
    <div>
      <%= link_to "#{event.date} #{event.name}", event %>
    </div>
  <% end %>
</div>

<br />

<%= link_to 'Edit', edit_member_path(@member) %>
<%= link_to 'Back', members_path %>
